{% extends "base.html.twig" %}

{% block title %}Ajouter ou modifier un plat{% endblock %}

{% block body %}

    {% if app.request.get("_route") =="create_dish" %}
        <h1 class="text-center mt-5">Ajouter un plat</h1>
    {% else %}
        <h1 class="text-center mt-5">Modifier {{ dish.name }}</h1>
    {% endif %}

    {{ form_start(form) }}

        <div class="row text-center mx-0 mt-5">

            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 col-xl-4">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="row justify-content-center">
                {% for photo in form.vars.value.photo %}
                    <div class="col-lg-4 mb-2">
                        <img src="{{ asset(photo.path) }}" 
                        alt="Photo du plat" class="img-thumbnail">
                    </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 col-xl-4">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-lg-2">
                    {{ form_row(form.category) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 col-lg-2 col-xl-1">
                    {{ form_row(form.price) }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 col-xl-4">
                    {{ form_row(form.allergen) }}
                </div>
            </div>
        
            <div class="row justify-content-center">
                <div class="col-6 col-md-2 mt-5">
                    <a href="{{ path('dish_list') }}" class="btn">Annuler</a>
                </div>
            {% if app.request.get('_route') == 'create_dish' %}
                <div class="col-6 col-md-2 my-5">
                    <input type="submit" value="Ajouter" class="btn">
                </div>
            {% else %}
                <div class="col-6 col-md-2 my-5">
                    <input type="submit" value="Modifier" class="btn">
                </div>
            </div>
            {% endif %}

        </div>

    {{ form_end(form) }}


{% endblock %}