{% extends "base.html.twig" %}

{% block title %}Liste des plats{% endblock %}

{% block body %}

  <div class="text-center text-light bg-success">
    {% for flashMessage in app.session.flashbag.get('success') %}
      {{ flashMessage}}
    {% endfor %}
  </div>

  <div class="container-fluid">

    <h1 class="text-center my-5">Au menu</h1>

      <h2 class="text-center">Entrées</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Entrée" %}
            <div class="col-md-6 col-xl-4"> 
              <div class="dishCard descText row text-center mb-3"mx-auto >
                <div class="dishNameList col-12"> {{ dish.name}} </div>
                <div class="descBox col-12 d-flex justify-content-center align-items-center"> {{ dish.description}} </div>
                <div class="dishNameList col-12"> {{ dish.price}}€</div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row justify-content-beetween mx-auto my-1">
                  <div class="col my-1">
                    <a href="#" class="btn">Supprimer</a>
                  </div>
                  <div class="col my-1">
                    <a href="admin/update-dish/{{ dish.id }}" class="btn">Modifier</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Plats</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Plat" %}
            <div class="col-md-6 col-xl-4"> 
              <div class="row dishCard descText justify-content-center text-center mx-auto mb-3">
                <div class="col-12 dishNameList"> {{ dish.name}} </div>
                <div class="col-12 descBox d-flex justify-content-center align-items-center"> {{ dish.description}} </div>
                <div class="col my-1 fst-italic allergenBtn" data-bs-toggle="modal" data-bs-target="#allergenModal{{ dish.id }}">
                    Voir les allergènes
                </div>
                <div class="col-12 dishNameList"> {{ dish.price}}€</div>
                <div class="row justify-content-center">
                  {% for photo in dish.getPhoto() %}
                    <div class="col-12 col-lg-6">
                        <img src="{{ photo.path }}" alt="{{ dish.name }}" class="img-fluid">
                    </div>
                  {% endfor %}
                </div>

                {# Modal allergènes #}
                <div id="allergenModal{{ dish.id }}" class="modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-dark">Allergènes</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row mx-0 bg-light">
                        {% if dish.getAllergen()|length > 0 %}
                          {% for allergen in dish.getAllergen() %}
                            <div class="col-12 col-lg-6 text-danger">
                              {{ allergen.ingredient}}
                            </div>
                          {% endfor %}
                        {% else %}
                            <div class="col text-dark">
                              Pas d'allergènes pour ce plat.
                            </div>
                        {% endif %}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>

                {# Boutons modifier/supprimer #}
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row justify-content-beetween mx-auto">
                  <div class="col my-1">
                    <a href="#" class="btn">Supprimer</a>
                  </div>
                  <div class="col my-1">
                    <a href="admin/update-dish/{{ dish.id }}" class="btn">Modifier</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Desserts</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Dessert" %}
            <div class="col-md-6 col-xl-4"> 
              <div class="row dishCard descText text-center mx-auto mb-3">
                <div class="col-12 dishNameList"> {{ dish.name}} </div>
                <div class="col-12 descBox d-flex justify-content-center align-items-center"> {{ dish.description}} </div>
                <div class="col-12 dishNameList"> {{ dish.price}}€</div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row justify-content-beetween mx-auto my-1">
                  <div class="col my-1">
                    <a href="#" class="btn">Supprimer</a>
                  </div>
                  <div class="col my-1">
                    <a href="admin/update-dish/{{ dish.id }}" class="btn">Modifier</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Vins</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Vin" %}
            <div class="col-md-6 col-xl-4"> 
              <div class="row dishCard descText text-center mx-auto mb-3">
                <div class="col-12 dishNameList"> {{ dish.name}} </div>
                <div class="col-12 descBox d-flex justify-content-center align-items-center"> {{ dish.description}} </div>
                <div class="col-12 dishNameList"> {{ dish.price}}€</div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row justify-content-beetween mx-auto my-1">
                  <div class="col my-1">
                    <a href="#" class="btn">Supprimer</a>
                  </div>
                  <div class="col my-1">
                    <a href="admin/update-dish/{{ dish.id }}" class="btn">Modifier</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}  
            {% endfor %}
          </div>
        </section>

      <h2 class="text-center">Boissons</h2>

        <section class="my-5">
          <div class="row justify-content-center">
            {% for dish in dishes %}
            {% if dish.category == "Boisson" %}
            <div class="col-md-6 col-xl-4"> 
              <div class="row dishCard descText text-center mx-auto mb-3">
                <div class="col-12 dishNameList"> {{ dish.name}} </div>
                <div class="col-12 descBox d-flex justify-content-center align-items-center"> {{ dish.description}} </div>
                <div class="col-12 dishNameList"> {{ dish.price}}€</div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="row justify-content-beetween mx-auto my-1">
                  <div class="col my-1">
                    <a href="#" class="btn">Supprimer</a>
                  </div>
                  <div class="col my-1">
                    <a href="admin/update-dish/{{ dish.id }}" class="btn">Modifier</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}  
            {% endfor %}
          </div>
        </section>

  </div>


{% endblock %}