<div class="col-md-6 col-xl-4"> 
  <div class="row dishCard descText justify-content-center text-center mx-auto mb-3">
    <div class="col-12 dishNameList {% if dish.allergyMatch %} allergyMatch{% endif %}"> {{ dish.name}} </div>
    <div class="col-12 descBox d-flex justify-content-center align-items-center"> {{ dish.description}} </div>
    <div class="col my-1 fst-italic allergenBtn {% if dish.allergyMatch %} allergyMatch{% endif %}" data-bs-toggle="modal" data-bs-target="#allergenModal{{ dish.id }}">
        Voir les allergènes
    </div>
    <div class="col-12 dishNameList"> {{ dish.price}}€</div>
    <div class="row justify-content-center">
      {% for photo in dish.getPhoto %}
        <div class="col-6" data-bs-toggle="modal" data-bs-target="#previewModal{{ dish.id }}">
            <img src="{{ photo.path }}" alt="{{ dish.name }}" class="dishPreview img-fluid">
        </div>
    {% include "dish/modalPreview.html.twig" %}
      {% endfor %}
    </div>
    {% include "dish/modalAllergen.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row justify-content-between">
      <div class="col-3 mt-2 mb-1">
        <div class="btn" data-bs-toggle="modal" data-bs-target="#deleteModal{{ dish.id }}">
        Supprimer
        {% include "dish/modalDelete.html.twig" %}
        </div>
      </div>
      <div class="col-3 mt-2 mb-1">
        <a href="admin/update-dish/{{ dish.id }}" class="btn">Modifier</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>