{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <div class="text-center text-light bg-success">
    {% for flashMessage in app.session.flashbag.get('success') %}
      {{ flashMessage}}
    {% endfor %}
  </div>

  <div class="container-fluid">

    <section class="my-5">

      <h1 class="text-center mb-5">Bienvenue au Quai Antique</h1>

      <div class="row justify-content-center">

        <div class="order-xl-2 col-md-12 col-xl-4 mt-3 mb-5 mb-xl-0
         d-flex justify-content-center align-items-center">
          <div class="row text-center">
            <div class="col-12 mb-3">
              <p>Voluptate voluptate nisi aliqua enim. Sint sunt mollit dolor cillum
               occaecat id irure irure mollit. Cillum excepteur est non eiusmod reprehenderit consectetur laboris.</p>
            </div>
            <div class="col-12">
              <a href="{{ path('user_booking') }}" class="btn">Réserver</a>
            </div>
            </div>
        </div>

        {% for dish in dishes %}
        {% if dish.name == "Gloubiboulga" %}
        <div class="order-xl-1 col-md-6 col-xl-4"> 
          <div class="row text-center justify-content-center mb-3">
            <div class="col-12 dishName"> {{ dish.name}} </div>
            <div class="col-12">
                <img class="welcomePreview" src="{{ selectedPhoto[dish.id].path }}" alt="nope">
            </div>
          </div>
        </div>
        {% endif %}  
        {% endfor %}

        {% for dish in dishes %}
        {% if dish.name in ["Kloug", "Gencives de porc",
         "Marinade de poulpe", "Steak de tyrannosaure"] %}
        <div class="order-xl-3 col-md-6 col-xl-4"> 
          <div class="row text-center justify-content-center mb-3">
            <div class="col-12 dishName"> {{ dish.name}} </div>
            <div class="col-12">
                <img class="welcomePreview" src="{{ selectedPhoto[dish.id].path }}" alt="nope">
            </div>
          </div>
        </div>
        {% endif %}  
        {% endfor %}
        
      </div>

    </section>

  </div>

{% endblock %}